header {
  background-color: #7f96ea;
  padding: 1rem 0;
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header li {
  margin: 0 5px;

}

header li a {
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  margin: 0 1rem;
}

.Title {
  color: white;
}
